{% extends "public/layout.twig" %}
{% block content %}
	<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full space-y-8">
			<div>
				<h2 class="mt-6 text-center text-3xl font-bold text-gray-900">Sign in to your account</h2>
				<p class="my-2 text-center text-sm text-gray-600">
					Or
					<a href="/signup" class="font-medium text-indigo-600 hover:text-indigo-500"> Create a new account </a>
				</p>
				{% if FLASH() %}
					{% for key, value in FLASH().errors %}
						<div class="bg-red-100 border mb-2 border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
							<strong class="font-bold">Error!</strong>
							<span class="block sm:inline">{{ value }}</span>
						</div>
					{% endfor %}
					{{ CLEAR() }}
				{% endif %}


			</div>
			<form class="mt-8 flex-col" action="/user/login" method="POST">
					<div>
						<label for="email-address" class="sr-only">Email address</label>
						<input id="email-address" name="email" type="email" autocomplete="email" required
									 class="input input-bordered w-full mb-5"
									 placeholder="Email address">
					</div>
					<div>
						<label for="password" class="sr-only">Password</label>
						<input id="password" name="password" type="password" autocomplete="current-password" required
									 class="input input-bordered w-full  mb-5"
									 placeholder="Password">
					</div>
					<button type="submit"
									class="btn btn-primary w-full">
						Sign in
					</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}